{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styleHome.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home:home' %}">
            Security
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <span class="navbar-text">
                <div class="dropdown">
                    Welcome
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }} {{ user.department.name }} {{ user.workPosition.name }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'user:logout' %}">Log out</a></li>
                    </ul>
                </div>
            </span>
        </div>
        </div>
    </nav>
    <div class="side-bar">
        <div class="side-bar-container">
            <div class="side-bar-item">
                <div class="dropdown">
                    <button class="btn btn-secondary invisibleButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Assets Information
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'home:typesActives' %}">Assets types</a></li>
                        <li><a class="dropdown-item" href="{% url 'home:subtypesActives' %}">Subassets types</a></li>
                        <li><a class="dropdown-item" href="{% url 'home:clasifyactives' %}">Clasify Assets</a></li>
                    </ul>
                </div>
            </div>

            <div class="side-bar-item">
                <div class="dropdown">
                    <button class="btn btn-secondary invisibleButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About company
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Assets:origin' %}">Origin</a></li>
                        <li><a class="dropdown-item" href="{% url 'Assets:companyassets' %}">Company Assets</a></li>
                        <li><a class="dropdown-item" href="{% url 'Assets:companyType' %}">Assets types Company</a></li>
                        <li><a class="dropdown-item" href="{% url 'Assets:responsableunity' %}">Company Unity</a></li>
                        <li><a class="dropdown-item" href="{% url 'Assets:companyassetsunity' %}">Unity Responsability</a></li>
                        <li><a class="dropdown-item" href="{% url 'Assets:dependentassets' %}">Dependences Assets</a></li>
                    </ul>
                </div>
            </div>

            <div class="side-bar-item">
                <div class="dropdown">
                    <button class="btn btn-secondary invisibleButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Workers
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'workers:userpage' %}">User</a></li>
                        <li><a class="dropdown-item" href="{% url 'workers:departments' %}">Departments</a></li>
                        <li><a class="dropdown-item" href="{% url 'workers:workpositions' %}">Works positions</a></li>
                        <li><a class="dropdown-item" href="{% url 'workers:responsabilities' %}">Responsabilities</a></li>
                        <li><a class="dropdown-item" href="{% url 'workers:userresponsabilities' %}">User responsabilities</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="complementwindow">
        {% block body %} {% endblock %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>