{% extends 'layoutHome.html' %}
{% load static %}

{% block body %}
    <div class="text-title">
        <h1>Responsables Unity</h1>
    </div>

    <div class="searchType">
        <label for="inpSearch">Search by Indentity: </label>
        <input class="box-ingreso" type="search" id="inpSearch">

        <label for="inpSearch">Search by Last name: </label>
        <input class="box-ingreso" type="search" id="inpSearchAsset">

        <label for="inpSearch">Search by dependent: </label>
        <input class="box-ingreso" type="search" id="inpSearchDepartment"><br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary position-button-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Create Unity
        </button>

        {% if error_message %}
            <div class="alert alert-danger" role="alert" style="width: 50%; text-align: center; margin-left: 25%;">
                {{ error_message }}
            </div>
        {% endif %}
        
        <!-- Modal -->
        <form action="{% url 'workers:userpage' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Company Unity</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="identity">Identity: </label>
                            <input class="box-ingreso" type="text" id="identity" name="identity" maxlength="10" required><br>
                            <label for="username">Username: </label>
                            <input class="box-ingreso" type="text" id="username" name="username" maxlength="50" required><br>
                            <label for="first_name">First name: </label>
                            <input class="box-ingreso" type="text" id="first_name" name="first_name" maxlength="50" required><br>
                            <label for="last_name">Last name: </label>
                            <input class="box-ingreso" type="text" id="last_name" name="last_name" maxlength="50" required><br>
                            <label for="email">Email: </label>
                            <input class="box-ingreso" type="email" id="email" name="email" maxlength="50" required><br>
                            <label for="department">Department: </label>
                            <select class="box-ingreso" name="department" id="department">
                                {% for dato in departments %}
                                <option value="{{ dato.id }}">{{ dato.name }}</option>
                                {% endfor %}
                            </select><br>
                            <label for="workPosition">Work position: </label>
                            <select class="box-ingreso" name="workPosition" id="workPosition">
                                {% for dato in workpositions %}
                                <option value="{{ dato.id }}">{{ dato.name }}</option>
                                {% endfor %}
                            </select><br>
                            <label for="password">Password: </label>
                            <input class="box-ingreso" type="password" id="password" name="password" maxlength="50" required><br>
                            <label for="password2">Confirm password: </label>
                            <input class="box-ingreso" type="password" id="password2" name="password2" maxlength="50" required><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table" id="searchtable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Identity</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Work position</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in users %}
                <tr>
                    <th scope="row">{{ dato.id }}</th>
                    <td>{{ dato.identity }}</td>
                    <td>{{ dato.first_name }}</td>
                    <td>{{ dato.last_name }}</td>
                    <td>{{ dato.email }}</td>
                    <td>{{ dato.department.name }}</td>
                    <td>{{ dato.workPosition.name }}</td>
                    <td>
                        <button type="button" class="btn btn-warning position-button-end" data-bs-toggle="modal" data-bs-target="#editModal{{ dato.id }}">
                            Edit
                        </button>
                        <form action="{% url 'workers:edituser' %}" method="post">
                            {% csrf_token %}
                            <div class="modal fade" id="editModal{{ dato.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel{{ dato.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Subtype Assets</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="name">ID: </label>
                                            <input class="box-ingreso" type="text" id="id" name="id" value="{{ dato.id }}" readonly><br>
                                            <label for="identity">Identity: </label>
                                            <input class="box-ingreso" type="text" id="identity" name="identity" value="{{ dato.identity }}" maxlength="10" readonly required><br>
                                            <label for="username">Username: </label>
                                            <input class="box-ingreso" type="text" id="username" name="username" value="{{ dato.username }}" maxlength="50" required><br>
                                            <label for="first_name">First name: </label>
                                            <input class="box-ingreso" type="text" id="first_name" name="first_name" value="{{ dato.first_name }}" maxlength="50" required><br>
                                            <label for="last_name">Last name: </label>
                                            <input class="box-ingreso" type="text" id="last_name" name="last_name" value="{{ dato.last_name }}" maxlength="50" required><br>
                                            <label for="email">Email: </label>
                                            <input class="box-ingreso" type="email" id="email" name="email" value="{{ dato.email }}" maxlength="50" readonly required><br>
                                            <label for="department">Department: </label>
                                            <select class="box-ingreso" name="department" id="department">
                                                {% for dato2 in departments %}
                                                {% if dato2.id == dato.department.id %}
                                                <option value="{{ dato2.id }}" selected>{{ dato2.name }}</option>
                                                {% else %}
                                                <option value="{{ dato2.id }}">{{ dato2.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select><br>
                                            <label for="workPosition">Work position: </label>
                                            <select class="box-ingreso" name="workPosition" id="workPosition">
                                                {% for dato2 in workpositions %}
                                                {% if dato2.id == dato.workPosition.id %}
                                                <option value="{{ dato2.id }}" selected>{{ dato2.name }}</option>
                                                {% else %}
                                                <option value="{{ dato2.id }}">{{ dato2.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select><br>
                                            <label for="password">Password: </label>
                                            <input class="box-ingreso" type="password" id="password" name="password" maxlength="50" required><br>
                                            <label for="password2">Confirm password: </label>
                                            <input class="box-ingreso" type="password" id="password2" name="password2" maxlength="50" required><br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'workers:deleteuser' dato.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}