{% extends 'layoutHome.html' %}
{% load static %}

{% block action2 %} style="color:#4BAAF7" {% endblock %}

{% block body %}
<section id="bodyform-tables-assets">
    {% if message %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endif %}

    <div class="box-finding">
        <div class="search-information">
            <label for="inpSearch0">Filtrar por código:</label><br>
            <input type="text" id="inpSearch0" name="inpSearch0" placeholder="Ingresar el código">
        </div>
    
        <div class="search-information">
            <label for="inpSearch3">Filtrar por tipo de ubicación:</label><br>
            <input type="text" id="inpSearch3" name="inpSearch3" placeholder="Ingresar el tipo de ubicación">
        </div>

        <div class="search-information">
            <label for="inpSearch7">Filtrar por tipo:</label><br>
            <input type="text" id="inpSearch7" name="inpSearch7" placeholder="Ingresar el tipo">
        </div>

        <div class="search-information">
            <label for="inpSearch8">Filtrar por área:</label><br>
            <input type="text" id="inpSearch8" name="inpSearch8" placeholder="Ingresar la área">
        </div>

        <div class="search-information">
            <label for="inpSearch9">Filtrar por usuario:</label><br>
            <input type="text" id="inpSearch9" name="inpSearch9" placeholder="Ingresar el usuario">
        </div>

        <div class="search-information">
            <label for="inpSearch12">Filtrar por dimensión del valor:</label><br>
            <input type="text" id="inpSearch12" name="inpSearch12" placeholder="Ingresar la dimensión">
        </div>

        <div class="search-information">
            <label for="inpSearch13">Filtrar por valor cuantitativo:</label><br>
            <input type="text" id="inpSearch13" name="inpSearch13" placeholder="Ingresar el valor">
        </div>
    </div>

    <div class="form-container">
        <table class="table" id="searchtable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de ubicación</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Características</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Área responsable</th>
                    <th scope="col">Usuario responsable</th>
                    <th scope="col">Dependencias</th>
                    <th scope="col">Porcentaje de dependencia</th>
                    <th scope="col">Dimensión del valor</th>
                    <th scope="col">Valor cuantitativo</th>
                    <th scope="col">Valor cualitativo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for assetValue in AssetsValues %}
                <tr>
                    <th scope="row">{{ assetValue.asset.id }}</th>
                    <td>{{ assetValue.asset.code }}</td>
                    <td>{{ assetValue.asset.name }}</td>
                    <td>{{ assetValue.asset.ubicationType }}</td>
                    <td>{{ assetValue.asset.ubication }}</td>
                    <td>{{ assetValue.asset.quantity }}</td>
                    <td>{{ assetValue.asset.characteristic }}</td>
                    <td>{{ assetValue.asset.type.name }}</td>
                    <td>{{ assetValue.asset.responsableArea.name }}</td>
                    <td>{{ assetValue.asset.responsableUser.first_name }} {{ assetValue.asset.responsableUser.last_name }}</td>
                    <td>
                        {% if DependentAssets %}
                            {% for dependences in DependentAssets %}
                                {% if assetValue.asset.id == dependences.asset.id %}
                                    {{ dependences.assetDepend.name }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            No tiene dependencia
                        {% endif %}
                    </td>
                    <td>
                        {% if DependentAssets %}
                            {% for dependences in DependentAssets %}
                                {% if dependences.asset.id == assetValue.asset.id %}
                                    {{ dependences.percentaje }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ assetValue.dimentionValue }}</td>
                    <td>{{ assetValue.cuantityValue }}</td>
                    <td>{{ assetValue.cualityValue }}</td>
                    <td>{{ assetValue.description }}</td>

                    <td>
                        <a type="button"  onclick="activeeditboxAsset(this)" class="button-format"
                        data-assetValue-id="{{ assetValue.id }}"
                        data-asset-id="{{ assetValue.asset.id }}"
                        data-asset-code="{{ assetValue.asset.code }}"
                        data-asset-name="{{ assetValue.asset.name }}"
                        data-asset-origin="{{ assetValue.asset.origin }}"
                        data-asset-ubicationType="{{ assetValue.asset.ubicationType }}"
                        data-asset-ubication="{{ assetValue.asset.ubication }}"
                        data-asset-quantity="{{ assetValue.asset.quantity }}"
                        data-asset-characteristic="{{ assetValue.asset.characteristic }}"
                        data-asset-type="{{ assetValue.asset.type.name }}"
                        data-asset-responsableArea="{{ assetValue.asset.responsableArea.name }}"
                        data-asset-responsableUser="{{ assetValue.asset.responsableUser.first_name }} {{ assetValue.asset.responsableUser.last_name }}"
                        data-asset-dimentionValue="{{ assetValue.dimentionValue }}"
                        data-asset-cuantityValue="{{ assetValue.cuantityValue }}"
                        data-asset-cualityValue="{{ assetValue.cualityValue }}"
                        data-asset-description="{{ assetValue.description }}"
                        data-asset-subtype="{{ assetValue.subtype }}"
                        >
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'home:deleteTableAssets' assetValue.asset.id %}" class="button-format">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<div class="overlay" id="overlay"></div>
<form action="{% url 'home:editTableAssets' %}" method="post">
    {% csrf_token %}
    <div class="edit-campus" id="edit-campus">
    </div>
</form>
{% endblock %}