{% extends 'layoutHome.html' %}
{% load static %}

{% block action6 %} style="color:#4BAAF7" {% endblock %}

{% block body %}
<section id="bodyform-tables">
    {% if message %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endif %}

    <div class="box-finding">
        <div class="search-information">
            <label for="inpSearch">Filtrar por nombre:</label>
            <input type="text" id="inpSearch0" name="inpSearch" placeholder="Ingresar la cedula">
        </div>

        <div class="search-information">
            <label for="inpSearch">Filtrar por cargo:</label>
            <input type="text" id="inpSearch2" name="inpSearch3" placeholder="Ingresar la cedula">
        </div>
    </div>

    <div class="form-container">
        <table class="table" id="searchtable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">
                        
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for department in Departments %}
                <tr>
                    <th scope="row">{{ department.id }}</th>
                    <td>{{ department.name }}</td>
                    <td>{{ department.description }}</td>
                    <td>{{ department.workload.name }}</td>
                    <td>
                        <a href="#" class="button-format">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="{% url 'home:deleteTableDepartments' department.id %}" class="button-format">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}