{% extends 'layoutHome.html' %}
{% load static %}

{% block action4 %} style="color:#4BAAF7" {% endblock %}

{% block body %}
<section id="bodyform-tables">
    {% if message %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endif %}

    <div class="box-finding">
        <div class="search-information">
            <label for="inpSearch1">Filtrar por apellido:</label>
            <input type="text" id="inpSearch1" name="inpSearch1" placeholder="Ingresar la cedula">
        </div>
    
        <div class="search-information">
            <label for="inpSearch4">Filtrar por celular:</label>
            <input type="text" id="inpSearch4" name="inpSearch4" placeholder="Ingresar la cedula">
        </div>

        <div class="search-information">
            <label for="inpSearch5">Filtrar por cargo:</label>
            <input type="text" id="inpSearch5" name="inpSearch5" placeholder="Ingresar la cedula">
        </div>
    </div>

    <div class="form-container">
        <table class="table" id="searchtable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Cargo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in Users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.celular }}</td>
                    <td>{{ user.department }}</td>
                    <td>{{ user.workload.name }}</td>
                    <td>
                        <a type="button" onclick="activeeditboxUser(this)" class="button-format" 
                        data-user-id="{{ user.id }}" 
                        data-user-first_name="{{ user.first_name }}"
                        data-user-last_name="{{ user.last_name }}"
                        data-user-username="{{ user.username }}"
                        data-user-email="{{ user.email }}"
                        data-user-celular="{{ user.celular }}"
                        data-user-workload="{{ user.workload.name }}"
                        data-user-department="{{ user.department }}">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'home:deleteTableUsers' user.id %}" class="button-format">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<div class="overlay" id="overlay"></div>
<form action="{% url 'home:editTableUsers' %}" method="post">
    {% csrf_token %}
    <div class="edit-campus" id="edit-campus">
    </div>
</form>
{% endblock %}