{% extends 'layoutUser.html' %}
{% load static %}

{% block body %}
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
    <form action="{% url 'user:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="center-login">
            <h1>Register</h1>
        </div>

        <div class="container-input">
            <input class="input-info" type="text" placeholder="First name" id="firstname" name="firstname" value="{{firstname}}"><br>
            <input class="input-info" type="text" placeholder="Last name" id="lastname" name="lastname" value="{{lastname}}"><br>
            <input class="input-info" type="text" placeholder="Username" id="username" name="username" value="{{username}}"><br>
            <input class="input-info" type="text" placeholder="Email" id="email" name="email" value="{{email}}"><br>
            <input class="input-info" type="text" placeholder="RUC/ID/Passport" id="identity" name="identity" value="{{identity}}"><br>
            <select class="input-info" name="depart" id="depart">
                <option value="0">Select department</option>
                {% for departments in department %}
                    <option value="{{departments.id}}">{{departments.name}}</option>
                {% endfor %}
            </select><br>
            <select class="input-info" name="workpost" id="workpost">
                <option value="0">Select Work Position</option>
                {% for workpositions in workposition %}
                    <option value="{{workpositions.id}}">{{workpositions.name}}</option>
                {% endfor %}
            </select><br>
            <input class="input-info" type="password" placeholder="Password" id="password" name="password"><br>
            <input class="input-info" type="password" placeholder="Confirm your password" id="confirm" name="confirm">
        </div>

        <div class="container-button">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

        <div class="container-link">
            <p>Back to <span><a href="{% url 'user:login' %}">login</a></span></p>
        </div>
    </form>

{% endblock %}