{% extends 'layoutHome.html' %}
{% load static %}

{% block body %}
    <div class="text-title">
        <h1>Subtypes Assets</h1>
    </div>

    <div class="searchType">
        <label for="inpSearch">Search by name: </label>
        <input class="box-ingreso" type="search" id="inpSearch">

        <label for="inpSearch">Search by Principal asset: </label>
        <input class="box-ingreso" type="search" id="inpSearchAsset"><br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary position-button-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Create Subtype Assets
        </button>
        
        <!-- Modal -->
        <form action="{% url 'home:subtypesActives' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Subtype Assets</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="namesubtype">Name for subtype assets:</label>
                            <input class="box-ingreso" type="text" id="namesubtype" name="namesubtype" required><br>
                            <label for="descriptionsubtype">Description for subtype assets:</label>
                            <input class="box-ingreso" type="text" id="descriptionsubtype" name="descriptionsubtype" required><br>
                            <label for="typesactive">Types assets relation:</label>
                            <select class="box-ingreso" name="typesactive" id="typesactive">
                                {% for dato in typesactives %}
                                <option value="{{ dato.id }}">{{ dato.name }}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table" id="searchtable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">SubTypes Assets names</th>
                    <th scope="col">SubTypes Assets descriptions</th>
                    <th scope="col">Types Assets relation</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in subtypesactives %}
                <tr>
                    <th scope="row">{{ dato.id }}</th>
                    <td>{{ dato.name }}</td>
                    <td>{{ dato.description }}</td>
                    <td>{{ dato.typeActive.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}