{% extends 'layoutHome.html' %}
{% load static %}

{% block body %}
    <div class="text-title">
        <h1>Assets Dependences</h1>
    </div>

    <div class="searchType">
        <label for="inpSearch">Search by interviewed: </label>
        <input class="box-ingreso" type="search" id="inpSearch">

        <label for="inpSearch">Search by dependent type: </label>
        <input class="box-ingreso" type="search" id="inpSearchAsset"><br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary position-button-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Create Assets Dependences
        </button>
        
        <!-- Modal -->
        <form action="{% url 'Assets:dependentassets' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Subtype Assets</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="companyassetsindependent">Select independent company asset: </label>
                            <select class="box-ingreso" name="companyassetsindependent" id="companyassetsindependent">
                                {% for dato in companyassets %}
                                <option value="{{ dato.id }}">{{ dato.name }}</option>
                                {% endfor %}
                            </select><br>
                            <label for="companyassetsdependent">Select dependent company asset: </label>
                            <select class="box-ingreso" name="companyassetsdependent" id="companyassetsdependent">
                                {% for dato in companyassets %}
                                <option value="{{ dato.id }}">{{ dato.name }}</option>
                                {% endfor %}
                            </select><br>
                            <label for="dependencypercentage">Put percentaje dependence: </label>
                            <input class="box-ingreso" type="number" id="dependencypercentage" name="dependencypercentage" min="0" max="100" required><br>
                            <label for="descriptiondependency">Dependence Description: </label>
                            <textarea class="box-ingreso" name="descriptiondependency" id="descriptiondependency" cols="30" rows="5"></textarea>
                            <label for="Interviewed">Select an Interviewed: </label>
                            <select class="box-ingreso" name="Interviewed" id="Interviewed">
                                {% for dato in users %}
                                <option value="{{ dato.id }}">{{ dato.first_name }} {{ dato.last_name }}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table" id="searchtable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Interviewed</th>
                    <th scope="col">Company Assets Independent</th>
                    <th scope="col">Company Assets Dependent</th>
                    <th scope="col">Dependency Percentage</th>
                    <th scope="col">Dependency Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in dependentassets %}
                <tr>
                    <th scope="row">{{ dato.id }}</th>
                    <td>{{ dato.Interviewed.first_name }} {{ dato.Interviewed.last_name }}</td>
                    <td>{{ dato.companyassetsindependent.name }}</td>
                    <td>{{ dato.companyassetsdependent.name }}</td>
                    <td>{{ dato.dependencypercentage }}%</td>
                    <td>{{ dato.descriptiondependency }}</td>
                    <td>
                        <button type="button" class="btn btn-warning position-button-end" data-bs-toggle="modal" data-bs-target="#editModal{{ dato.id }}">
                            Edit
                        </button>
                        <form action="{% url 'Assets:editDependentAssets' %}" method="post">
                            {% csrf_token %}
                            <div class="modal fade" id="editModal{{ dato.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel{{ dato.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Subtype Assets</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="name">ID: </label>
                                            <input class="box-ingreso" type="text" id="id" name="id" value="{{ dato.id }}" readonly><br>
                                            <label for="companyassetsindependent">Select independent company asset: </label>
                                            <select class="box-ingreso" name="companyassetsindependent" id="companyassetsindependent">
                                                {% for dato2 in companyassets %}
                                                <option value="{{ dato2.id }}" {% if dato2.id == dato.companyassetsindependent.id %} selected {% endif %}>{{ dato2.name }}</option>
                                                {% endfor %}
                                            </select><br>
                                            <label for="companyassetsdependent">Select dependent company asset: </label>
                                            <select class="box-ingreso" name="companyassetsdependent" id="companyassetsdependent">
                                                {% for dato2 in companyassets %}
                                                <option value="{{ dato2.id }}" {% if dato2.id == dato.companyassetsdependent.id %} selected {% endif %}>{{ dato2.name }}</option>
                                                {% endfor %}
                                            </select><br>
                                            <label for="dependencypercentage">Put percentaje dependence: </label>
                                            <input class="box-ingreso" type="number" id="dependencypercentage" name="dependencypercentage" min="0" max="100" value="{{ dato.dependencypercentage }}" required><br>
                                            <label for="descriptiondependency">Dependence Description: </label>
                                            <textarea class="box-ingreso" name="descriptiondependency" id="descriptiondependency" cols="30" rows="5">{{ dato.descriptiondependency }}</textarea>
                                            <label for="Interviewed">Select an Interviewed: </label>
                                            <select class="box-ingreso" name="Interviewed" id="Interviewed">
                                                {% for dato2 in users %}
                                                <option value="{{ dato2.id }}" {% if dato2.id == dato.Interviewed.id %} selected {% endif %}>{{ dato2.first_name }} {{ dato2.last_name }}</option>
                                                {% endfor %}
                                            </select><br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'Assets:deleteDependentAssets' dato.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}