* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background: #252525;
  font-family: "IbmPlexSans-Medium", sans-serif;
}

.half-left{
  margin-top: 5%;
  position: relative;
  width: 50%;
  height: 100%;
  background: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.half-right{
  background: #2b2e30;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
}

.box-logo{
  width: 70%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1%;
  margin: 5%;
}

.logo{
  position: relative;
  width: 100%;
  height: 100%;
}

.line-1 {
  border-style: solid;
  border-color: #4b5dfe;
  border-width: 10px 0 0 0;
  width: 100%;
  height: 94%;
  position: relative;
  left: 10%;
  margin-top: -30%;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}

.mag-secure{
  color: #4b5dfe;
  font-family: "IbmPlexSans-SemiBold", sans-serif;
  font-size: 300%;
  font-weight: 600;
  position: relative;
  top: -20%;
}

.cibersecurity {
  color: #4baaf7;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 200%;
  font-weight: 300;
  position: relative;
}

.form-login{
  position: relative;
  width: 70%;
  height: 30%;
  background: #2e313a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2%;
}

.text-login{
  color: white;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 200%;
  font-weight: 300;
  position: relative;
  margin-bottom: 5%;
}

.input-form{
  color: white;
  width: 70%;
  height: 40%;
}

.input-form input{
  width: 100%;
  height: 100%;
  background: #2e313a;
  border: 2px solid #4baaf7;
  color: white;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 100%;
  font-weight: 300;
  outline: none;
  border-radius: 0.5rem;
  padding: 2%;
  margin-bottom: 10%;
}

.icon1{
  position: absolute;
  width: 100%;
  left: 75%;
  top: 31%;
  margin-bottom: 10%;
}

.icon2{
  position: absolute;
  width: 100%;
  left: 75%;
  top: 59%;
  margin-bottom: 10%;
}

.buttons-align-between{
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-login{
  position: relative;
  width: 100%;
  height: 100%;
  background: #4b57ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5%;
  cursor: pointer;
  border-style: none;
  padding: 3%;
  margin: 2%;
  color: white;
}

.button-register{
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 5%;
  cursor: pointer;
  padding: 3%;
  margin: 2%;
  color: white;
}

.locker{
  position: absolute;
  width: 50%;
  left: 75%;
  top: 100%;
  margin-bottom: 10%;
}