{% extends 'layoutHome.html' %}
{% load static %}

{% block action3 %} style="color:#4BAAF7" {% endblock %}

{% block body %}

<div class="form-container">
    <div class="title">Ingresar Usuario</div>

    <div class="input-form">
        <label for="firstname">Nombre</label><br>
        <input class="input-information" type="text" id="firstname" name="firstname" placeholder="Ingresar el nombre">
    </div>

    <div class="input-form">
        <label for="lastname">Apellido</label><br>
        <input class="input-information" type="text" id="code" name="code" placeholder="Ingresar el apellido">
    </div>

    <div class="input-form">
        <label for="email">Email</label><br>
        <input class="input-information" type="text" id="email" name="email" placeholder="Ingresar el email">
    </div>

    <div class="input-form">
        <label for="identity">N° Celular</label><br>
        <input class="input-information" type="text" id="identity" name="identity" placeholder="Ingresar la cedula">
    </div>

    <div class="input-form">
        <label for="password">Contraseña</label><br>
        <input class="input-information" type="text" id="password" name="password" placeholder="Ingresar la contraseña">
    </div>

    <div class="input-form">
        <label for="confirm">Confirmar contraseña</label><br>
        <input class="input-information" type="text" id="confirm" name="confirm" placeholder="Confirmar contraseña">
    </div>

    <div class="input-form">
        <label for="userDepartment">Departamento</label><br>
        <select name="userDepartment" id="userDepartment" class="input-information">
            <option value="">Selecciona el departamento</option>
        </select>
    </div>

    <div class="input-form">
        <label for="workload">Cargo</label><br>
        <select name="workload" id="workload" class="input-information">
            <option value="">Selecciona el cargo</option>
        </select>
    </div>

    <div class="buttons-end">
        <button type="reset" class="buttoncancel">Cancelar</button>
        <button type="submit" class="buttonsave">Guardar</button>
    </div>
</div>

{% endblock %}