{% extends 'layoutHome.html' %}
{% load static %}

{% block action7 %} style="color:#4BAAF7" {% endblock %}

{% block body %}
<section id="bodyform">
    <form action="{% url 'home:asingRiskAsset' %}" method="post">
        {% csrf_token %}
        <div class="form-container">
    
            {% if message %}
                <div class="error-message">
                    {{ message }}
                </div>
            {% endif %}
            <div class="title">Ingresar un riesgo</div>

            <div class="input-form">
                <label for="asset">Activos</label><br>
                <select name="asset" id="asset" class="input-information" onchange="getRiskOptions(this.options[this.selectedIndex].dataset.typeId)">
                    <option value="">Selecciona un activo</option>
                    <option value="">--------------------------------------------------------------------------------------------------</option>
                    {% for asset in assets %}
                        <option value="{{ asset.id }}" data-type-id="{{ asset.type.id }}">{{ asset.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-form">
                <label for="impact">Impacto</label><br>
                <select name="impact" id="impact" class="input-information">
                    <option value="">Selecciona un impacto</option>
                    <option value="">--------------------------------------------------------------------------------------------------</option>
                    <option value="MA">Muy Alta</option>
                    <option value="A">Alta</option>
                    <option value="M">Media</option>
                    <option value="B">Baja</option>
                    <option value="MB">Muy Baja</option>
                </select>
            </div>

            <div class="input-form">
                <label for="probability">Probabilidad</label><br>
                <select name="probability" id="probability" class="input-information">
                    <option value="">Selecciona una probabilidad</option>
                    <option value="">--------------------------------------------------------------------------------------------------</option>
                    <option value="MA">Muy Alta</option>
                    <option value="A">Alta</option>
                    <option value="M">Media</option>
                    <option value="B">Baja</option>
                    <option value="MB">Muy Baja</option>
                </select>
            </div>

            <img src="{% static 'img/Estimacion Del Riesgo.jpg' %}" alt="Riesgo" style="width: 50%; height: 50%; transform: translate(50%, 0%);">
        
            <div class="input-form">
                <label for="risk">Tipos de riesgos</label><br>
                <select name="risk" id="risk" class="input-information" onchange="getRisk(this.value)">
                    <option value="0">Selecciona un tipo de riesgo</option>
                    <option value="0">--------------------------------------------------------------------------------------------------</option>
                </select>
            </div>

            <div class="input-form">
                <label for="addrisk">Riesgos</label><br>
                <br>
                <div id="addrisk"></div>
            </div>

            <br>
        
            <div class="buttons-end">
                <button type="reset" class="buttoncancel">Cancelar</button>
                <button type="submit" class="buttonsave">Guardar</button>
            </div>
        </div>    
    </form>
</section>

{% endblock %}